* {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  color: #e7e7e7;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(160, 28, 28);
  color: white;
  min-height: 100vh; 
}
#nuevoDiv {
  display: none;
  padding: 10px;
  margin-top: 10px;
  align-items: column;
  justify-content: center;
  flex-direction: column;
}

.logo {
    width: 16%;
    height: auto;
    max-width: 20%; 
  }


/*Header Header Header Header*/

.headerDiv {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    padding: 1%; 
  }
header {
  background-color: rgb(49, 49, 49);
}
  
#displayUsername {
    position: absolute; 
    right: 10px; 
    margin: 0; 
    padding: 0; 
    white-space: nowrap; 
  }

/*Footer*/

footer {
  background-color: rgb(49, 49, 49);
  color: white;
  text-align: center;
  padding: 20px;
  align-items: flex-end;
  margin-top: auto; 
}

footer p {
  padding: 5px;
}

/*Botón*/

#mostrarBtn:hover {
  background-color: #181818;
  transform: scale(1.05);
}

#mostrarBtn {

  color: #ffffff;
  height: auto;
  background-color: #131313;
  font-size: 25px;
  font-weight: 50px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 10px 10px;
  border-radius: 15px;
}

.divBtn {
  /*Background colour*/
  align-items: center;
  display: flex;
  flex-direction: column; 
  flex: 1; 
  justify-content: center;
}

input[type="text"] {
  color: #000;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  padding: 10px; 
  background-color: white; 
  font-size: 20px;
}

input:focus {
  border-color: #3498db; 
  outline: none; 
}

#userForm {
    display: flex;
    flex-direction: column;
}

body div form button {
    margin-top: 20px;
}

#usernameWarning {
  margin-top: 20px;
  margin-bottom: 20px;
}

#usernameh1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

#username {
  margin-top: 20px;
}

